body{
     background-color: #fddbee;
     color: #ffaddb;
     font-family: serif;
     max-width: 100%;
     margin: 0 auto;
     padding: 0;
}

header {
    background-color: plum;
    color: white;
    text-align: center;
    padding: 1em 0;
}

nav ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 2em;
    flex-wrap: wrap;
    align-items: center;
}

nav a{
    color: white
}

nav a:hover{
    color: #ffaddb;
}

main {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 2em;
    text-align: center;
}

main img{
   
    width: 40%;
    height:auto;
}

footer{
    background-color: #efceef;
    text-align: center;
    padding: .8em;
}
.button { /*reusable css*/
  padding: 10px 20px;
  background-color: plum;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  margin-top: 1em;
}

.button:hover {
  background-color: #f583c3c6;
}


/*styles for tablets*/

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    gap: 1em;
  }

  main img {
    width: 70%;
  }

  .section-title { /*reusable css*/
    font-size: 1.2em;
  }
}

/*styles for mobile*/
@media (max-width: 480px) {
  header h1 {
    font-size: 1.4em;
  }

  main {
    padding: 1em;
  }

  main img {
    width: 80%;
  }

  .section-title { /*reusable css*/
    font-size: 1em;
  }
}

